@import '/nule.scss';
@import '/mixins.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App{
  min-height: 100vh;
  padding: 20px;
  @media (max-width: 500px) {
    padding: 10px;
  }
  background: #CEDBEE;
  background: -webkit-linear-gradient(top left, #CEDBEE, #4F03CD);
  background: -moz-linear-gradient(top left, #CEDBEE, #4F03CD);
  background: linear-gradient(to bottom right, #CEDBEE, #4F03CD);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

form{
  text-align: center;  
  margin-bottom: 20px;
  width: 100vw;
  @media (max-width: 500px) {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
  & input{
    padding: 5px 10px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin-right: 20px;
    @media (max-width: 500px) {
     margin-bottom: 10px;
    }
  }
  & button{
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: SpringGreen;
  }
}

.recipes{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .recipes__slider{
    width: 80%;
    & .slick-track {
      overflow: hidden;
    }
    & .slick-slide{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & .slick-arrow{
     position: absolute;
    top: 250px;    }
  }
}

.recipe{
  background: rgba(255,255,255,0.8);
  padding: 20px;
  text-align: center;
  width: 350px;
  overflow-y: auto;
  @media (max-width: 500px) {
    width: 240px;
    padding: 20px 10px;
    & img {width: 230px;}
  }
  border-radius: 25px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  & .recipe__colories{
    margin-bottom: 20px;
    & span{font-weight: bold; margin-right: 5px;}
  }
  & .recipe__title{
    @include adaptiv-font(22,18);
    font-weight: bold; 
    margin-bottom: 20px;
    min-height: 50px;
  }
  & .recipe__info{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    @media (max-width: 950px) {
      justify-content: center;
    }
  }
  & .recipe__button{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px;
    background: white;
    margin-bottom: 5px;
  }
  & .recipe__img{
    border-radius: 100px;
    vertical-align: auto;
    box-shadow: 0 0 20px black;
    margin: 0 auto 20px;
  }   
  & .recipe__composition{ 
    margin-bottom: 20px;
    & h2{
      @include adaptiv-font(18,15);
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
  & .recipe__item{
    margin-bottom: 5px;
    &:last-child {margin-bottom: 0;}
    & span {font-weight: bold; margin-right: 5px;}
    & img{
      width: 80px;
      height: 80px;
      border-radius: 25%;
      margin: 0 auto 10px;
      border: 1px solid black;
    }
  }
}

.popup{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  z-index: 2;
}
